POSTGRES_DB=kittygram_db_name
POSTGRES_USER=kittygram_db_user
POSTGRES_PASSWORD=kittygram_db_password
DB_HOST=postgres
DB_PORT=5432
SECRET_KEY=my_super_secret_key_example
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,192.168.1.1